<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.giveu.dao.mysql.SecretDao">

    <sql id="Base_Column_List">
        cast(id as char) id,uuid, secret_command secretCommand,secret_password secretPassword,version,pwd_status status,
        secret_index secretIndex, cast(encrypt_times as char) encryptTimes, cast(decrypt_times as char) decryptTimes,
        create_time createTime,update_time updateTime,create_user createUser,update_user updateUser
    </sql>

    <select id="getMaxSecretGroup" parameterType="int" resultType="SecretManage">
        select
        <include refid="Base_Column_List" />
        from secret_command_pwd where pwd_status=1 and version=#{version}
    </select>

    <select id="getSecretList" resultType="SecretManage">
        select
        <include refid="Base_Column_List" />
       from secret_command_pwd
    </select>

    <select id="getSecretGroup"  resultType="SecretManage">
        select
        <include refid="Base_Column_List" />
        from secret_command_pwd
        <where>
            <if test=" secretType!='' and secretType==2 ">
                and pwd_status=1
            </if>
            <if test=" secretType!='' and secretType==3 ">
                and pwd_status=0
            </if>
        </where>
    </select>

    <select id="getSecretManage" resultType="SecretManage">
        select
        <include refid="Base_Column_List" />
        from secret_command_pwd
        <where>
            <if test=" secretCommand!=null and secretCommand!='' ">
                and secret_command=#{secretCommand}
            </if>
            <if test=" secretPassword!=null and secretPassword!='' ">
                and secret_password=#{secretPassword}
            </if>
            <if test=" secretIndex!=null and secretIndex!='' ">
                and secret_index=#{secretIndex}
            </if>
            <if test=" version!=null and version!='' ">
                and version=#{version}
            </if>
        </where>
    </select>

    <update id="updateTime">
        update secret_command_pwd set encrypt_times=#{encryptTimes},decrypt_times=#{decryptTimes},update_time=sysdate() where secret_command=#{secretCommand}
    </update>
</mapper>